node_modules
dist
server/node_modules
client/admin/node_modules
client/frontend/node_modules
client/test-dashboard/node_modules
client/test-dashboard/dist
client/admin/dist
client/frontend/dist
client/frontend/.next
client/frontend/.env
client/frontend/.env.local
server/.env.local
server/.env
client/admin/.env
client/admin/.env.local
client/test-dashboard/.env
client/test-dashboard/.env.local

# client/test-dashboard/node_modules

