node_modules
.env
.env.locals
.env.local
.env.production
.env.development
.env.test
.env.example
.env.test.local
.env.test.example
.env.production.local
.env.production.example
.env.development.local
.env.development.example
.env.test.local
.env.test.example
.env.production.local
.env.production.example
.env.development.local
.env.development.example